@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    max-width: 100vw;
    min-height:100vh;
    height:100vh;
}

.styled-link {
    @apply hover:underline decoration-2 decoration-salmon transition-transform hover:scale-105 transform inline-block
}

.button {
    @apply bg-salmon rounded-full p-1 px-4 hover:scale-110 transition-[transform,background] hover:!bg-baby-blue hover:border-Aquamarine border border-transparent
}